<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>
<body>
    <form action = "{{ url_for('calculadora') }}" method = "POST" name = "teste">
        <label for="valor_a">Valor 1: </label>
        <input type="text" name="valor_a" id="valor_a">
        <label for="valor_b">Valor 2: </label>
        <input type="text" name="valor_b" id="valor_b">
        <label for="operacao">Operação: </label>
        <select name="operacao" id="operacao">
            <option value=""></option>
            <option value="*">Multiplicação</option>
            <option value="/">Dividisão</option>
            <option value="+">Soma</option>
            <option value="-">Subtração</option>
        </select><br><br>
        <input type="submit" name="Resultado">
    </form>
</body>
</html>